WebApiPaymentDashBoard/.vs
WebApiPaymentDashBoard/tools
WebApiPaymentDashBoard/WebApiPaymentDashBoard/obj
WebApiPaymentDashBoard/WebApiPayment.Test/obj
WebApiPaymentDashBoard/WebApiPaymentDashBoard/bin
WebApiPaymentDashBoard/WebApiPayment.Test/bin
WebApiPaymentDashBoard/.config
